<nav class="navbar navbar-dark sm-dark"> 
    <div class="container-fluid">
      <a class="navbar-brand"></a>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="rechercher ici" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Recherche</button>
      </form>
    </div>
 </nav>



<ng-container>
    <div class="card-header -xxl ">
        <div class="table-responsive -xxl">
            <table id="dtHorizontalExample"
                class="table table-hover table-striped table-bordered table-sm table-wrapper-scroll-y my-custom-scrollbar"
                cellspacing="0" width="100%">
                <thead class="thead-dark">

                    <tr>

                        <!-- --Diffuseurs techniques-- -->

                        <th class="p-2 bg-danger text-center th-lg"> Id </th>
                        <th class="text-center th-lg"> Nom </th>
                        <th class="text-center th-lg"> Priorité </th>
                        <th class="text-center th-lg"> Siren </th>
                        <th class="text-center th-lg"> StatusInstal </th>
                        <th class="text-center th-lg"> Hebergement </th>
                        <th class="text-center th-lg"> Acces </th>
                        <th class="text-center th-lg"> ResProjet </th>
                        <th class="text-center th-lg"> ConsulDsn </th>
                        <th class="text-center th-lg"> VersAgirh </th>
                        <th class="text-center th-lg"> VersProdige </th>
                        <th class="text-center th-lg"> Ifp </th>
                        <th class="text-center th-lg"> Mirth </th>
                        <th class="text-center th-lg"> WebserPH7 </th>
                        <th class="text-center th-lg"> ConfigAgirh </th>
                        <th class="text-center th-lg"> ConfigProdige </th>
                        <th class="text-center th-lg"> Param_Géné_Pro </th>
                        <th class="text-center th-lg"> Créa_EG_EJ_ED_Agirh </th>
                        <th class="text-center th-lg"> NomencdesAbsences </th>
                        <th class="text-center th-lg"> NomencdesEmplois </th>
                        <th class="text-center th-lg"> NomencdeStatuts </th>
                        <th class="p-2 bg-danger text-center th-lg">ACTIONS</th>
                    </tr>

                </thead>
                <tbody>

                    <tr *ngFor="let site of sites">

                        <!-- --Diffuseurs techniques-- -->

                        <td> {{site.id}} </td>
                        <td> {{site.nom}} </td>
                        <td> {{site.priorite}} </td>
                        <td> {{site.siren}} </td>
                        <td> {{site.statusinstal}} </td>
                        <td> {{site.hebergement}} </td>
                        <td> {{site.acces}} </td>
                        <td> {{site.resprojet}} </td>
                        <td> {{site.consuldsn}} </td>
                        <td> {{site.versagirh}} </td>
                        <td> {{site.versprodige}} </td>
                        <td> {{site.ifp}} </td>
                        <td> {{site.mirth}} </td>
                        <td> {{site.webserph7}} </td>
                        <td> {{site.configagirh}} </td>
                        <td> {{site.configprodige}} </td>
                        <td> {{site.paramgenepro}} </td>
                        <td> {{site.creationegejed}} </td>
                        <td> {{site.nomencdesabsences}} </td>
                        <td> {{site.nomencdesemplois}} </td>
                        <td> {{site.nomencdestatuts}} </td>

                        <td>
                            <button class="btn btn-warning ml-4" [routerLink]="['/updatedifSite',site.id]">
                                <span class="fa fa-edit"></span>
                            </button>


                         <!--    <button class="btn btn-primary ml-4" (click)="SupprimerSite(site.id)">
                                <span class="fa fa-trash-o"></span>
                            </button>  -->

                        </td>

                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</ng-container>

