<nav class="navbar navbar-expand-sm bg-darck navbar-dark">

    <!-- <ul class="navbar navbar-nav ml-auto">
		<li>
			<form #f="ngForm" (ngSubmit)="rechercherSites()" class="form-inline">
				<div class="form-group">
					<input ngModel name="keyword" type="text">
					<button class="btn btn-sm btn-outline-info ml-2">
						<span class="fa fa-search"></span>
					</button>
				</div>
			</form>
		</li>

	</ul> -->

</nav>


<ng-container>
    <div class="card-header -xl ">
        <div class="table-responsive -xl">
            <table id="dtHorizontalExample"
                class="table table-hover table-striped table-bordered table-sm table-wrapper-scroll-y my-custom-scrollbar"
                cellspacing="0" width="100%">
                <thead class="center-thead-dark">

                    <tr>

                        <!-- --Diffuseurs techniques-- -->

                        <th class="text-center th-sm">Id </th>
                        <th class="text-center th-sm">Priorité </th>
                        <th class="text-center th-sm">Nom </th>
                        <th class="text-center th-sm">Siren </th>
                        <th class="text-center th-sm">StatusInstal </th>
                        <th class="text-center th-sm">Hebergement </th>
                        <th class="text-center th-sm">Acces </th>
                        <th class="text-center th-sm">ResProjet </th>
                        <th class="text-center th-sm">ConsulDsn </th>
                        <th class="text-center th-sm">VersAgirh </th>
                        <th class="text-center th-sm">Versprodige </th>
                        <th class="text-center th-sm">Ifp </th>
                        <th class="text-center th-sm">Mirth </th>
                        <th class="text-center th-sm">WebserPH7 </th>
                        <th class="text-center th-sm">ConfigAgirh </th>
                        <th class="text-center th-sm">ConfigProdige </th>
                        <th class="text-center th-sm">NomencdesAbsences</th>
                        <th class="text-center th-sm">NomencdesEmplois </th>
                        <th class="text-center th-sm">NomencdeStatuts </th>


                        <!--  --Consultants DSN-- -->

                        <th class="text-center th-sm"> Priorité Rp </th>
                        <th class="text-center th-sm"> Code GHT </th>
                        <th class="text-center th-sm"> Code EH </th>
                        <th class="text-center th-sm"> Libelle EH </th>
                        <th class="text-center th-sm"> Etab_Fichier GHT </th>
                        <th class="text-center th-sm"> EJ dans Agirh </th>
                        <th class="text-center th-sm"> Siret Etab_Principal </th>
                        <th class="text-center th-sm"> Code GL </th>
                        <th class="text-center th-sm"> Bulletins </th>
                        <th class="text-center th-sm"> Reunion de Lancement </th>
                        <th class="text-center th-sm"> Status Agirh </th>
                        <th class="text-center th-sm"> Status Prodige </th>
                        <th class="text-center th-sm"> Eligibilité Version_Dsn </th>
                        <th class="text-center th-sm"> Nomenclatures </th>
                        <th class="text-center th-sm"> EG_EG_ED_Agirh </th>
                        <th class="text-center th-sm"> EG_EG_Prodige </th>
                        <th class="text-center th-sm"> Param_Géné Prodige </th>
                        <th class="text-center th-sm"> Compte Util Prodige </th>
                        <th class="text-center th-sm"> Reprise Siren </th>
                        <th class="text-center th-sm"> Init_Contrat Ph7 </th>
                        <th class="text-center th-sm"> Notes </th> 


                        <!-- --Responsables projet-- -->

                        <th class="text-center th-sm"> Année </th>
                        <th class="text-center th-sm"> Icc </th>
                        <th class="text-center th-sm"> Corresp_PASRAU </th>
                        <th class="text-center th-sm"> Téléphone_PASRAU </th>
                        <th class="text-center th-sm"> Email PASRAU </th>
                        <th class="text-center th-sm"> Siret PASRAU </th>
                        <th class="text-center th-sm"> Ofi signé </th>
                        <th class="text-center th-sm"> Site Support </th>
                        <th class="text-center th-sm"> Exploit Paie </th>
                        <th class="text-center th-sm"> Heber_Agirh </th>
                        <th class="text-center th-sm"> Heber_Prodige </th>
                        <th class="text-center th-sm"> Prodige installé </th>
                        <th class="text-center th-sm"> Base à Installer </th>
                        <th class="text-center th-sm"> Module Rh </th>
                        <th class="text-center th-sm"> Instal_Echange </th>
                        <th class="text-center th-sm"> Multiducs </th>
                        <th class="text-center th-sm"> Date_Réunion_Lanc </th>
                        <th class="text-center th-sm"> Date_kit_Contrôle </th>
                        <th class="text-center th-sm"> Nbre_Anomalies </th>
                        <th class="text-center th-sm"> Date_Formation </th>


                        <th class="text-center">ACTIONS</th>
                    </tr>

                </thead>
                <tbody>

                    <tr *ngFor="let s of sites">

                        <!-- --Diffuseurs techniques-- -->

                        <tr *ngFor="let site of sites">

                        <td>{{site.id}} </td>
                        <td>{{site.priorite}} </td>
                        <td>{{site.nom}} </td>
                        <td>{{site.siren}} </td>
                        <td>{{site.statusinstal}} </td>
                        <td>{{site.hebergement}} </td>
                        <td>{{site.acces}} </td>
                        <td>{{site.resprojet}} </td>
                        <td>{{site.consuldsn}} </td>
                        <td>{{site.versagirh}} </td>
                        <td>{{site.versprodige}} </td>
                        <td>{{site.ifp}} </td>
                        <td>{{site.mirth}} </td>
                        <td>{{site.webserph7}} </td>
                        <td>{{site.configagirh}} </td>
                        <td>{{site.configprodige}} </td>
                        <td>{{site.nomencdesabsences}} </td>
                        <td>{{site.nomencdesemplois}} </td>
                        <td>{{site.nomencdestatuts}} </td>


                        <!--  --Consultants DSN-- -->

                        <td> {{site.prioriterp}}</td>
                        <td> {{site.codeght}} </td>
                        <td> {{site.codeeh}} </td>
                        <td> {{site.libelleeh}} </td>
                        <td> {{site.etabfichierght}} </td>
                        <td> {{site.siretetabprincipal}} </td>
                        <td> {{site.codegl}} </td>
                        <td> {{site.bulletins}} </td>
                        <td> {{site.reuniondelancement}} </td>
                        <td> {{site.statusagirh}} </td>
                        <td> {{site.statusprodige}} </td>
                        <td> {{site.eligibiliteversiondsn}} </td>
                        <td> {{site.nomenclatures}} </td>
                        <td> {{site.egejedagirh}} </td>
                        <td> {{site.egejprodige}} </td>
                        <td> {{site.paramgeneprodige}} </td>
                        <td> {{site.compteutilprodige}} </td>
                        <td> {{site.reprisesiren}} </td>
                        <td> {{site.reprisesiren}} </td>
                        <td> {{site.initcontratph7}} </td>
                        <td> {{site.notes}} </td> 


                        <!-- --Responsables projet-- -->

                        <td> {{site.annee}} </td>
                        <td> {{site.icc}} </td>
                        <td> {{site.corresppasrau}} </td>
                        <td> {{site.telpasreau}} </td>
                        <td> {{site.emailpasreau}} </td>
                        <td> {{site.siretpasreau}} </td>
                        <td> {{site.contactsitemet}}</td>
                        <td> {{site.contactsiteinfo}} </td>
                        <td> {{site.ofisigne}} </td>
                        <td> {{site.sitesupport}} </td>
                        <td> {{site.exploitpaie}} </td>
                        <td> {{site.heberagirh}} </td>
                        <td> {{site.heberprodige}} </td>
                        <td> {{site.instalprodige}} </td>
                        <td> {{site.baseaintal}} </td>
                        <td> {{site.modulerh}} </td>
                        <td> {{site.instalech}} </td>
                        <td> {{site.multiducs}} </td>
                        <td> {{site.datereunionlanc}} </td>
                        <td> {{site.datekitdecontrole}} </td>
                        <td> {{site.nbreanomalies}} </td>
                        <td> {{site.dateformation}} </td>

                        <td>
                            <button class="btn btn-info ml-2" [routerLink]="['/updateSite',site.id]">
                                <span class="fa fa-edit"></span>
                            </button>

                            <button class="btn btn-danger ml-2" (click)="SupprimerSite(site.id)">
                                <span class="fa fa-trash-o"></span>
                            </button>

                        </td>

                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</ng-container>