<div>
    <h2>Editer un enregistrement</h2>
</div>
  
  <div class="container">
    <div class="card-header -xl">
  
      <form>
  
        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">Nom</label>
          <input type="text" [(ngModel)]="currenSite.nom" name="nom" class="form-control">
        </div>

        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">Acces_Prodige</label>
          <textarea input id="inputState" type="text" [(ngModel)]="currenSite.acces" name="acces"
            class="form-control"></textarea>
        </div>
  
        <div class="form-group row">
          <label class="col-sm- col-form-label">Priorite_RP</label>
          <select id="inputState" [(ngModel)]="currenSite.prioriterp" name="prioriterp" class="form-control">
            <option selected></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">Id GHT</label>
          <select id="inputState" type="text" [(ngModel)]="currenSite.idght" name="idght" class="form-control">
            <option selected></option>
            <option></option>
            <option></option>
            <option></option>
            <option></option>
            <option></option>
          </select>
        </div>
  
        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">Code GHT</label>
          <input id="inputState" type="text" [(ngModel)]="currenSite.codeght" name="codeght" class="form-control">
        </div>
 
        
        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">Code EH</label>
          <input id="inputState" type="text" [(ngModel)]="currenSite.codeeh" name="codeeh" class="form-control">
        </div>

        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">Libelle EH </label>
          <input id="inputState" type="text" [(ngModel)]="currenSite.libelleeh" name="libelleeh" class="form-control">
        </div>

        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">Etab_Fichier GHT </label>
          <input id="inputState" type="text" [(ngModel)]="currenSite.etabfichierght" name="etabfichierght" class="form-control">
        </div>

        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">EJ dans Agirh </label>
          <input id="inputState" type="text" [(ngModel)]="currenSite.ejdansagirh" name="ejdansagirh" class="form-control">
        </div>

        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">Siret Etab_Principal </label>
          <input id="inputState" type="text" [(ngModel)]="currenSite.siretetabprincipal" name="siretetabprincipal" class="form-control">
        </div>

        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">Code GL </label>
          <input id="inputState" type="text" [(ngModel)]="currenSite.codegl" name="codegl" class="form-control">
        </div>

        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">Bulletins </label>
          <input id="inputState" type="text" [(ngModel)]="currenSite.bulletins" name="bulletins" class="form-control">
        </div>

        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">Réunion de lancement </label>
          <input id="inputState" type="date" [(ngModel)]="currenSite.reuniondelancement" name="reuniondelancement" class="form-control">
        </div>

        
        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">Status Agirh </label>
          <input id="inputState" type="text" [(ngModel)]="currenSite.statusagirh" name="statusagirh" class="form-control">
        </div>

        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">Status Prodige </label>
          <input id="inputState" type="text" [(ngModel)]="currenSite.statusprodige" name="statusprodige" class="form-control">
        </div>

        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">Eligibilité Version_Dsn </label>
          <input id="inputState" type="text" [(ngModel)]="currenSite.eligibiliteversiondsn" name="eligibiliteversiondsn" class="form-control">
        </div>

        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">Nomenclatures </label>
          <input id="inputState" type="text" [(ngModel)]="currenSite.nomenclatures" name="nomenclatures" class="form-control">
        </div>

        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">EG_EJ_ED_Agirh </label>
          <input id="inputState" type="text" [(ngModel)]="currenSite.egejedagirh" name="ejdansagirh" class="form-control">
        </div>

        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">EG_EJ_Prodige </label>
          <input id="inputState" type="text" [(ngModel)]="currenSite.egejprodige" name="egejprodige" class="form-control">
        </div>

        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">Paramètres_Géréraux Prodige </label>
          <input id="inputState" type="text" [(ngModel)]="currenSite.paramgeneprodige" name="par" class="form-control">
        </div>

        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">Compte ultilisateur Prodige </label>
          <input id="inputState" type="text" [(ngModel)]="currenSite.compteutilprodige" name="compteutilprodige" class="form-control">
        </div>

        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">Reprise Siren </label>
          <input id="inputState" type="text" [(ngModel)]="currenSite.reprisesiren" name="reprisesiren" class="form-control">
        </div>

        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">Initialisation des contrats_PH7 </label>
          <input id="inputState" type="text" [(ngModel)]="currenSite.initcontratph7" name="initcontratph7" class="form-control">
        </div>

        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">Notes </label>
          <textarea id="inputState" type="text" [(ngModel)]="currenSite.notes" name="notes" class="form-control"></textarea>
        </div>
      
  
        <div class="modal-footer">
          <button type="submit" (click)="updateconSite()"  class="btn btn-success">Enregistrer les modifications</button>
        </div>

        <div class="modal-footer">
          <button type="submit" routerLink="/sites" class="btn btn-warning">Bloc-notes</button>
       </div>
  
        <!-- <div>
          <h3>{{message}}</h3>
        </div>
   -->
      </form>
    </div>
  </div>
