<nav class="navbar navbar-dark sm-dark"> 
    <div class="container-fluid">
      <a class="navbar-brand"></a>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="rechercher ici" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Recherche</button>
      </form>
    </div>
 </nav>


<ng-container>
    <div class="card-header -xxl ">
        <div class="table-responsive -xxl">
            <table id="dtHorizontalExample"
                class="table table-hover table-striped table-bordered table-sm table-wrapper-scroll-y my-custom-scrollbar"
                cellspacing="0" width="100%">
                <thead class="thead-dark">

                    <tr>
                        
                        <!--  --Consultants DSN-- -->

                        <th class="p-2 bg-danger text-center th-lg"> Id </th>
                        <th class="text-center th-sm"> Nom </th>
                        <th class="text-center th-lg"> Accès </th>
                        <th class="text-center th-lg"> Priorité_Rp </th>
                        <th class="text-center th-lg"> Id_GHT </th>
                        <th class="text-center th-lg"> Code_GHT </th>
                        <th class="text-center th-lg"> Code_EH </th>
                        <th class="text-center th-lg"> Libelle_EH </th>
                        <th class="text-center th-lg"> Etab_Fichier_GHT </th>
                        <th class="text-center th-lg"> EJ_dans_Agirh </th>
                        <th class="text-center th-lg"> Siret_Etab_Principal </th>
                        <th class="text-center th-lg"> Code GL </th>
                        <th class="text-center th-lg"> Bulletins </th>
                        <th class="text-center th-lg"> Reunion_de_Lancement </th>
                        <th class="text-center th-lg"> Status_Agirh </th>
                        <th class="text-center th-lg"> Status_Prodige </th>
                        <th class="text-center th-lg"> Eligibilité_Version_Dsn </th>
                        <th class="text-center th-lg"> Nomenclatures </th>
                        <th class="text-center th-lg"> EG_EJ_ED_Agirh </th>
                        <th class="text-center th-lg"> EG_EJ_Prodige </th>
                        <th class="text-center th-lg"> Param_Géné_Prodige </th>
                        <th class="text-center th-lg"> Compte_Util_Prodige </th>
                        <th class="text-center th-lg"> Reprise_Siren </th>
                        <th class="text-center th-lg"> Init_Contrat_Ph7 </th>
                        <!--    <th class="text-center th-lg"> Notes </th>  -->

                        <th class="p-2 bg-danger text-center th-lg">ACTIONS</th>
                    </tr>

                </thead>
                <tbody>

                        <tr *ngFor="let site of sites">

                        <!--  --Consultants DSN-- -->

                        <td> {{site.id}} </td>
                        <td> {{site.nom}} </td>
                        <td> {{site.acces}} </td>
                        <td> {{site.prioriterp}}</td>
                        <td> {{site.idght}} </td>
                        <td> {{site.codeght}} </td>
                        <td> {{site.codeeh}} </td>
                        <td> {{site.libelleeh}} </td>
                        <td> {{site.etabfichierght}} </td>
                        <td> {{site.ejdansagirh}} </td>
                        <td> {{site.siretetabprincipal}} </td>
                        <td> {{site.codegl}} </td>
                        <td> {{site.bulletins}} </td>
                        <td> {{site.reuniondelancement}} </td>
                        <td> {{site.statusagirh}} </td>
                        <td> {{site.statusprodige}} </td>
                        <td> {{site.eligibiliteversiondsn}} </td>
                        <td> {{site.nomenclatures}} </td>
                        <td> {{site.egejedagirh}} </td>
                        <td> {{site.egejprodige}} </td>
                        <td> {{site.paramgeneprodige}} </td>
                        <td> {{site.compteutilprodige}} </td>
                        <td> {{site.reprisesiren}} </td>
                        <td> {{site.initcontratph7}} </td>
                     <!--    <td> {{site.notes}} </td>  -->

                        <td>
                            <button class="btn btn-warning ml-2" [routerLink]="['/updateconSite',site.id]">
                                <span class="fa fa-edit"></span>
                            </button>

                        <!--     <button class="btn btn-primary ml-3" (click)="SupprimerSite(site.id)">
                                <span class="fa fa-trash-o"></span>
                            </button> -->

                        </td>

                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</ng-container>