<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <title>MiPih DIFTECH|Gestion des Sites</title>
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
   
<!-- Brand --> 
<a class="navbar-brand" href="#">Gestion Sites</a>    

<!-- Links -->
  <ul class="navbar-nav">

<!-- Acceuil -->
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
    Acceuil
  </a>
  <div class="dropdown-menu">
 
     <a class="dropdown-item" routerLink="/sites">Tableau de bord</a>
     <a class="dropdown-item" routerLink="/sit">Statistiques</a> 
  </div>
</li>
      

<!-- Dropdown1_Difftech -->
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
    Diffuseur technique
  </a>
  <div class="dropdown-menu">

    <a class="dropdown-item" routerLink="/add-site">Nouveau</a> 
     <a class="dropdown-item" routerLink="/sites">Lister</a> 
  </div>
</li>

 <!-- Dropdown2_ConsulDsn -->
 <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
    Consultant Dsn
  </a>
  <div class="dropdown-menu">

    <a class="dropdown-item" routerLink="/add-site">Nouveau</a> 
     <a class="dropdown-item" routerLink="/list-site">Lister</a> 
  </div>
</li>

<!-- Dropdown3_ResProjet -->
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
    Responsable Projet
  </a>
  <div class="dropdown-menu">

    <a class="dropdown-item" routerLink="/add-site">Nouveau</a> 
     <a class="dropdown-item" routerLink="/list-site">Lister</a> 
  </div>
</li>

  </ul>

<ul class="navbar-nav ml-auto">
  <li class="nav-item dropdown"> 
    <a class="nav-link dropdown-toggle" href="#" id="navbardrop"
       data-toggle="dropdown"> [Utilisateur] 
    </a>
        
<div class="dropdown-menu"> 
  <a class="dropdown-item" href="#">login</a> 
  
  <a class="dropdown-item" href="#">logout</a> 
  
  <a class="dropdown-item" href="#">Profile</a> 

</div>
      </li>
    </ul>
  </nav>

</body>
<router-outlet></router-outlet>