<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <title>MiPih DIFTECH|Gestion des Sites</title>
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
   
<!-- Brand --> 
<a class="navbar-brand" href="#">MiPih|Dashboard de suivi des installations DSN</a>    

<!-- Links -->
  <ul class="navbar-nav">

<!-- Acceuil -->
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
    Acceuil
  </a>
  <div class="dropdown-menu">
 
     <a class="dropdown-item" routerLink="/tableaudebord-site">Tableau de bord</a>
     <a class="dropdown-item" routerLink="/sit">Statistiques</a> 
  </div>
</li>
      

<!-- Dropdown1_Difftech -->
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
    Diffuseur technique
  </a>
  <div class="dropdown-menu">
     
    <a class="dropdown-item" routerLink="/listedif-site">Lister</a>
    <a class="dropdown-item" routerLink="/adddif-site">Nouveau</a>  
  </div>
</li>

 <!-- Dropdown2_ConsulDsn -->
 <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
    Consultant Dsn
  </a>
  <div class="dropdown-menu">

    <a class="dropdown-item" routerLink="//listecons-site">Lister</a>
    <a class="dropdown-item" routerLink="/addconsul-site">Nouveau</a> 
  </div>
</li>

<!-- Dropdown3_ResProjet -->
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
    Responsable Projet
  </a>
  <div class="dropdown-menu">

    <a class="dropdown-item" routerLink="/listeresp-site">Lister</a>
    <a class="dropdown-item" routerLink="/addresp-site">Nouveau</a>  
  </div>
</li>

<!-- Paramètres -->
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
    Paramètres
  </a>
  <div class="dropdown-menu">
     <a class="dropdown-item" routerLink="/sites">Mise à jour & suppression</a>
  </div>
</li>


  </ul>

<ul class="navbar-nav ml-auto">
  <li> 
    <a class="nav-link">{{authService.loggedUser}}</a>
  </li>

  <li class="nav-item dropdown"> 
    <a class="nav-link dropdown-toggle" href="#" id="navbardrop"
       data-toggle="dropdown"> Connexion 
    </a>
      
<div class="dropdown-menu"> 

  <a *ngIf="!authService.isloggedIn" class="dropdown-item" routerLink = "login">login</a> 
  
  <a *ngIf="authService.isloggedIn" class="dropdown-item" (click) = "onLogout()">logout</a>
  
  <a class="dropdown-item" href="#">Profile</a> 
  

</div>
      </li>
    </ul>
  </nav>

</body>
<router-outlet></router-outlet>