<div>
  <h2>Editer un enregistrement</h2>
</div>
  
  <div class="container">
    <div class="card-header -xl">
  
      <form>
  
        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">Nom</label>
          <input type="text" [(ngModel)]="curreSite.nom" name="nom" class="form-control">
        </div>

        <div class="form-group row">
            <label for="inputState" class="col-sm- col-form-label">Année </label>
            <input id="inputState" type="date" [(ngModel)]="curreSite.annee" name="annee" class="form-control">
        </div>
  
  
        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">Icc</label>
          <input id="inputState" type="text" [(ngModel)]="curreSite.icc" name="icc" class="form-control">
        </div>
  
        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">Correspondant PASRAU</label>
          <input id="inputState" type="text" [(ngModel)]="curreSite.corresppasrau" name="corresppasrau" class="form-control">
        </div>
  
        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">Téléphone PASRAU </label>
          <input id="inputState" type="text" [(ngModel)]="curreSite.telpasreau" name="telpasreau" class="form-control">
        </div>
  
        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">Email PASRAU </label>
          <input id="inputState" type="text" [(ngModel)]="curreSite.emailpasreau" name="emailpasreau" class="form-control">
        </div>
  
        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">Siret PASRAU </label>
          <input id="inputState" type="text" [(ngModel)]="curreSite.siretpasreau" name="siretpasreau" class="form-control">
        </div>
  
        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">Contact Site Métier </label>
          <input id="inputState" type="text" [(ngModel)]="curreSite.contactsitemet" name="contactsitemet" class="form-control">
        </div>
  
        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">Contact Site Informatique </label>
          <input id="inputState" type="text" [(ngModel)]="curreSite.contactsiteinfo" name="contactsiteinfo" class="form-control">
        </div>
  
        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">OFI Signé </label>
          <input id="inputState" type="text" [(ngModel)]="curreSite.ofisigne" name="ofisigne" class="form-control">
        </div>
  
        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">Site Support </label>
          <input id="inputState" type="text" [(ngModel)]="curreSite.sitesupport" name="sitesupport" class="form-control">
        </div>
  
        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">Exploit paie </label>
          <input id="inputState" type="text" [(ngModel)]="curreSite.exploitpaie" name="exploitpaie" class="form-control">
        </div>
  
        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">Hebergement_Agirh</label>
          <select id="inputState" [(ngModel)]="curreSite.hebergement" name="hebergement" class="form-control">
            <option selected></option>
            <option>Autonome</option>
            <option>Hébergé</option>
          </select>
        </div>
  
        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">Hebergement_Prodige</label>
          <select id="inputState" [(ngModel)]="curreSite.hebergement" name="hebergement" class="form-control">
            <option selected></option>
            <option>Autonome</option>
            <option>Hébergé</option>
          </select>
        </div>
  
        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">Prodige installé </label>
          <input id="inputState" type="text" [(ngModel)]="curreSite.instalprodige" name="instalprodige" class="form-control">
        </div>
  
        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">Base à installer </label>
          <input id="inputState" type="text" [(ngModel)]="curreSite.baseainstal" name="baseainstal" class="form-control">
        </div>
  
        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">Module Rh </label>
          <input id="inputState" type="text" [(ngModel)]="curreSite.modulerh" name="modulerh" class="form-control">
        </div>
  
        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">Installation_Echange </label>
          <input id="inputState" type="text" [(ngModel)]="curreSite.instalech" name="instalech" class="form-control">
        </div>
  
        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">Multiducs</label>
          <input id="inputState" type="text" [(ngModel)]="curreSite.multiducs" name="multiducs" class="form-control">
        </div>
  
        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">Date réunion de lancement </label>
          <input id="inputState" type="date" [(ngModel)]="curreSite.datereunionlanc" name="datereunionlanc" class="form-control">
        </div>
  
        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">Date kit de contrôle </label>
          <input id="inputState" type="date" [(ngModel)]="curreSite.datekitdecontrole" name="datekitdecontrole" class="form-control">
        </div>
  
        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">Nombre d'anomalies</label>
          <input id="inputState" type="text" [(ngModel)]="curreSite.nbreanomalies" name="nbreanomalies" class="form-control">
        </div>
      
        <div class="form-group row">
          <label for="inputState" class="col-sm- col-form-label">Date de formation </label>
          <input id="inputState" type="date" [(ngModel)]="curreSite.dateformation" name="dateformation" class="form-control">
        </div>
      
  
        <div class="modal-footer">
          <button type="submit" (click)="updaterespSite()" class="btn btn-success">Enregistrer les modifications </button>
        </div>
  
        <!-- <div>
          <h3>{{ message }}</h3>
        </div> -->
  
      </form>
    </div>
  </div>