<nav class="navbar navbar-dark sm-dark">
    <div class="container-fluid">
        <a class="navbar-brand"></a>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="rechercher ici" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Recherche</button>
        </form>
    </div>
</nav>

<ng-container>
    <div class="card-header -xxl ">
        <div class="table-responsive -xxl">
            <table id="dtHorizontalExample"
                class="table table-hover table-dark table-striped table-border table-xxl table-wrapper-scroll-y my-custom-scrollbar"

                cellspacing="50" width="100%">
                <thead class="thead-dark">

                    <tr>
                        <!-- --Diffuseurs techniques-- -->

                        <th class="p-2 bg-danger text-center th-lg">ACTIONS </th>

                        <th class="text-center th-lg"> Id </th>
                        <th class="p-2 bg-info text-center th-lg"> Nom </th>
                        <th class="p-2 bg-info text-center th-lg"> Priorité </th>
                        <th class="p-2 bg-info text-center th-lg"> Siren </th>
                        <th class="p-2 bg-info text-center th-lg"> StatusInstal </th>
                        <th class="p-2 bg-info text-center th-lg"> Hebergement </th>
                        <th class="p-2 bg-info text-center th-lg"> Acces </th>
                        <th class="p-2 bg-info text-center th-lg"> ResProjet </th>
                        <th class="p-2 bg-info text-center th-lg"> ConsulDsn </th>
                        <th class="p-2 bg-info text-center th-lg"> VersAgirh </th>
                        <th class="p-2 bg-info text-center th-lg"> VersProdige </th>
                        <th class="p-2 bg-info text-center th-lg"> Ifp </th>
                        <th class="p-2 bg-info text-center th-lg"> Mirth </th>
                        <th class="p-2 bg-info text-center th-lg"> WebserPH7 </th>
                        <th class="p-2 bg-info text-center th-lg"> ConfigAgirh </th>
                        <th class="p-2 bg-info text-center th-lg"> ConfigProdige </th>
                        <th class="p-2 bg-info text-center th-lg"> Param_Géné_Pro </th>
                        <th class="p-2 bg-info text-center th-lg"> Créa_EG_EJ_ED_Agirh </th>
                        <th class="p-2 bg-info text-center th-lg"> NomencdesAbsences </th>
                        <th class="p-2 bg-info text-center th-lg"> NomencdesEmplois </th>
                        <th class="p-2 bg-info text-center th-lg"> NomencdeStatuts </th>

                        <!--  --Consultants DSN-- -->

                        <th class="p-2 bg-warning text-center th-lg"> Priorité_Rp </th>
                        <th class="p-2 bg-warning text-center th-lg"> Id_GHT </th>
                        <th class="p-2 bg-warning text-center th-lg"> Code_GHT </th>
                        <th class="p-2 bg-warning text-center th-lg"> Code_EH </th>
                        <th class="p-2 bg-warning text-center th-lg"> Libelle_EH </th>
                        <th class="p-2 bg-warning text-center th-lg"> Etab_Fichier_GHT </th>
                        <th class="p-2 bg-warning text-center th-lg"> EJ_dans_Agirh </th>
                        <th class="p-2 bg-warning text-center th-lg"> Siret_Etab_Principal </th>
                        <th class="p-2 bg-warning text-center th-lg"> Code GL </th>
                        <th class="p-2 bg-warning text-center th-lg"> Bulletins </th>
                        <th class="p-2 bg-warning text-center th-lg"> Reunion_de_Lancement </th>
                        <th class="p-2 bg-warning text-center th-lg"> Status_Agirh </th>
                        <th class="p-2 bg-warning text-center th-lg"> Status_Prodige </th>
                        <th class="p-2 bg-warning text-center th-lg"> Eligibilité_Version_Dsn </th>
                        <th class="p-2 bg-warning text-center th-lg"> Nomenclatures </th>
                        <th class="p-2 bg-warning text-center th-lg"> EG_EJ_ED_Agirh </th>
                        <th class="p-2 bg-warning text-center th-lg"> EG_EJ_Prodige </th>
                        <th class="p-2 bg-warning text-center th-lg"> Param_Géné_Prodige </th>
                        <th class="p-2 bg-warning text-center th-lg"> Compte_Util_Prodige </th>
                        <th class="p-2 bg-warning text-center th-lg"> Reprise_Siren </th>
                        <th class="p-2 bg-warning text-center th-lg"> Init_Contrat_Ph7 </th>
                        <!--    <th class="p-2 bg-warning text-center th-lg"> Notes </th>  -->


                        <!-- --Responsables projet-- -->

                        <th class="p-2 bg-primary text-center th-lg"> Année </th>
                        <th class="p-2 bg-primary text-center th-lg"> Icc </th>
                        <th class="p-2 bg-primary text-center th-lg"> Corresp_PASRAU </th>
                        <th class="p-2 bg-primary text-center th-lg"> Téléphone_PASRAU </th>
                        <th class="p-2 bg-primary text-center th-lg"> Email_PASRAU </th>
                        <th class="p-2 bg-primary text-center th-lg"> Siret_PASRAU </th>
                        <th class="p-2 bg-primary text-center th-lg"> Contact_site_Métier</th>
                        <th class="p-2 bg-primary text-center th-lg"> Contact_site_infor</th>
                        <th class="p-2 bg-primary text-center th-lg"> Ofi_signé </th>
                        <th class="p-2 bg-primary text-center th-lg"> Site_Support </th>
                        <th class="p-2 bg-primary text-center th-lg"> Exploit_Paie </th>
                        <th class="p-2 bg-primary text-center th-lg"> Heber_Agirh </th>
                        <th class="p-2 bg-primary text-center th-lg"> Heber_Prodige </th>
                        <th class="p-2 bg-primary text-center th-lg"> Prodige_installé </th>
                        <th class="p-2 bg-primary text-center th-lg"> Base_à_Installer </th>
                        <th class="p-2 bg-primary text-center th-lg"> Module_Rh </th>
                        <th class="p-2 bg-primary text-center th-lg"> Instal_Echange </th>
                        <th class="p-2 bg-primary text-center th-lg"> Multiducs </th>
                        <th class="p-2 bg-primary text-center th-lg"> Date_Réunion_Lanc </th>
                        <th class="p-2 bg-primary text-center th-lg"> Date_kit_Contrôle </th>
                        <th class="p-2 bg-primary text-center th-lg"> Nbre_Anomalies </th>
                        <th class="p-2 bg-primary text-center th-lg"> Date_Formation </th>

                    </tr>

                </thead>
                <tbody>


                    <tr *ngFor="let site of sites">

                        
                        <td>
                            <button class="btn btn-warning ml-2" [routerLink]="['/updateSite',site.id]">
                                <span class="fa fa-edit"></span>
                            </button>

                            <!--       <button class="btn btn-primary ml-2" (click)="SupprimerSite(site.id)">
                                <span class="fa fa-trash-o"></span>
                            </button> -->

                        </td>

                        <!-- --Diffuseurs techniques-- -->

                        <td> {{site.id}} </td>
                        <td> {{site.nom}} </td>
                        <td> {{site.priorite}} </td>
                        <td> {{site.siren}} </td>
                        <td> {{site.statusinstal}} </td>
                        <td> {{site.hebergement}} </td>
                        <td> {{site.acces}} </td>
                        <td> {{site.resprojet}} </td>
                        <td> {{site.consuldsn}} </td>
                        <td> {{site.versagirh}} </td>
                        <td> {{site.versprodige}} </td>
                        <td> {{site.ifp}} </td>
                        <td> {{site.mirth}} </td>
                        <td> {{site.webserph7}} </td>
                        <td> {{site.configagirh}} </td>
                        <td> {{site.configprodige}} </td>
                        <td> {{site.paramgenepro}} </td>
                        <td> {{site.creationegejed}} </td>
                        <td> {{site.nomencdesabsences}} </td>
                        <td> {{site.nomencdesemplois}} </td>
                        <td> {{site.nomencdestatuts}} </td>


                        <!--  --Consultants DSN-- -->

                        <td> {{site.prioriterp}}</td>
                        <td> {{site.idght}} </td>
                        <!-- <td> {{site.codeght}} </td> -->
                        <td> {{site.codeeh}} </td>
                        <td> {{site.libelleeh}} </td>
                        <td> {{site.etabfichierght}} </td>
                        <td> {{site.ejdansagirh}} </td>
                        <td> {{site.siretetabprincipal}} </td>
                        <td> {{site.codegl}} </td>
                        <td> {{site.bulletins}} </td>
                        <td> {{site.reuniondelancement}} </td>
                        <td> {{site.statusagirh}} </td>
                        <td> {{site.statusprodige}} </td>
                        <td> {{site.eligibiliteversiondsn}} </td>
                        <td> {{site.nomenclatures}} </td>
                        <td> {{site.egejedagirh}} </td>
                        <td> {{site.egejprodige}} </td>
                        <td> {{site.paramgeneprodige}} </td>
                        <td> {{site.compteutilprodige}} </td>
                        <td> {{site.reprisesiren}} </td>
                        <td> {{site.initcontratph7}} </td>
                        <!--    <td> {{site.notes}} </td>  -->

                        <!-- --Responsables projet-- -->

                        <td> {{site.annee | date:'dd/MM/yyyy'}} </td>
                        <td> {{site.icc}} </td>
                        <td> {{site.corresppasrau}} </td>
                        <td> {{site.telpasreau}} </td>
                        <td> {{site.emailpasreau}} </td>
                        <td> {{site.siretpasreau}} </td>
                        <td> {{site.contactsitemet}}</td>
                        <td> {{site.contactsiteinfo}} </td>
                        <td> {{site.ofisigne}} </td>
                        <td> {{site.sitesupport}} </td>
                        <td> {{site.exploitpaie}} </td>
                        <td> {{site.heberagirh}} </td>
                        <td> {{site.heberprodige}} </td>
                        <td> {{site.instalprodige}} </td>
                        <td> {{site.baseainstal}} </td>
                        <td> {{site.modulerh}} </td>
                        <td> {{site.instalech}} </td>
                        <td> {{site.multiducs}} </td>
                        <td> {{site.datereunionlanc | date:'dd/MM/yyyy'}} </td>
                        <td> {{site.datekitdecontrole | date:'dd/MM/yyyy'}} </td>
                        <td> {{site.nbreanomalies}} </td>
                        <td> {{site.dateformation | date:'dd/MM/yyyy'}}

                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</ng-container>